body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #f0eae1; /* 淡い背景色 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.photo-container {
    text-align: center;
}

img {
    max-width: 90%;
    max-height: 80vh; /* 画像の高さを最大80%のビューポート高さに制限 */
    border-radius: 15px; /* 画像を角丸にする */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 少し影をつける */
}
